@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900);

*::-webkit-scrollbar {
	display: none;
}

html {
	background: #262626;
	font-family: "Work Sans", sans-serif;
	max-height: 100%;
}
body {
	margin: 0;
}

.posters {
	display: inline;
	float: right;
	height: 100%;
}
.posters img {
	height: 100%
}

.cont {
	float: left;
	width: 60%;
}

.logo {
	margin-top: 50px;
	margin-left: 90px;;
}
.logo img {
	max-width: 250px;
}
.calendar {
	margin-left: 50px;
	margin-top: 50px;
	padding: 0;
	color: #DAE1E3;
	list-style: none;
	overflow-y: scroll;
	max-height: 70%
}

.event {
	padding: 40px;
	max-width: 80%;
	transition: background .5s;
}
.event h1 {
	font-size: 2.5em;
	margin-bottom: .2em;
	margin-top: 0;
}
.event time {
	display: inline-block;
	padding-right: 20px;
	font-size: 1.4em
}
.event.active {
	background: #161616;
}
