# Contentful secrets
REACT_APP_CONTENTFUL_SPACE_ID=
REACT_APP_CONTENTFUL_ACCESS_TOKEN=

# Endpoints
REACT_APP_LOGO=https://public.svsticky.nl/logos/logo_compact_outline_wit.svg
REACT_APP_ACTIVITY_ENDPOINT=https://koala.svsticky.nl/api/activities

# Timers
REACT_APP_LOAD_INTERVAL=900000  # 15 * 60 * 1000
REACT_APP_NEXT_INTERVAL=8000    # 8 * 1000
