
body {
  font-family: RobotoDraft, sans-serif;
  color: #333;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;


  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding:0;
}



#main-content {
  flex:1;

  display: flex;
  flex-direction: row;

  background-color: blue;
}

#posters {
  background-color: green;
}
#newsfeed {
  order: 99;
  background-color: yellow;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#newsfeed > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.newsitem {
  padding: 0;
  margin: 0;
}
.logo {
  margin: 0;
  padding: 0;
  background-color: black;
}

li {
  height: 50px;
}

img {
  height: 50px;
}