@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: 2vh; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.app {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #333;
  display: flex; }
  .app .cont {
    flex-grow: 1;
    flex-direction: column;
    justify-text: center;
    width: 600px;
    height: 20vh; }
    .app .cont .logo {
      display: flex;
      margin-bottom: 5vh; }
      .app .cont .logo img {
        margin-left: auto;
        margin-right: auto;
        height: 20vh; }
    .app .cont .calendar {
      margin-left: auto;
      margin-right: auto;
      list-style: none;
      margin: 0;
      padding: 0;
      order: 1;
      flex-grow: 2;
      flex-basis: 14.64466094067263vh;
      flex-shrink: 0;
      -webkit-columns: 2 14.64466094067263vh; }
      .app .cont .calendar .event {
        padding: 1rem;
        font-weight: 400;
        font-size: 1.3rem;
        font-family: "Open Sans";
        color: white;
        text-shadow: 0.1rem 0.1rem black;
        -webkit-column-break-inside: avoid; }
        .app .cont .calendar .event h1 {
          font-family: "Roboto Slab";
          padding: 1rem 0;
          font-weight: 700;
          font-size: 2rem; }
        .app .cont .calendar .event time {
          margin: 1rem;
          padding: 1rem 0; }
      .app .cont .calendar .event.active {
        background-color: #444; }
  .app .posters {
    padding: 0;
    margin: 0;
    background-color: #FF7F00;
    order: 3;
    flex-basis: 70.71067811865475vh;
    position: relative; }
    .app .posters .poster {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 70.71067811865475vh; }
  .app .right {
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 14.64466094067263vh; }
  .app .backgrounds {
    background-color: black;
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-filter: blur(20px); }
    .app .backgrounds .background {
      width: 100%;
      z-index: -2;
      opacity: 0.80; }

/*# sourceMappingURL=style.css.map */
