@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.radio {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: black;
  z-index: -2;
}

.calendar {
  flex: 1;
  list-style: none;
  color: white;
  text-shadow: 2px 2px black;
}
.right {
  flex: 1;
}
.event {
  padding: 15px;
}

.event.selected {
  box-shadow: inset 26px 0px 53px -15px rgba(252,231,0,1);
}
.posters {
  flex: 1;
  position: relative;
  list-style: none;
}
.poster {
  left: 0;
  right: 0;
  height: 100%;
  background-color: blue;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.poster > img {
  height: 100%;
}
.poster.selected {
  opacity:1;
}

.sticky {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100px;
  padding: 10px;
}
.background {
  z-index: -1;
  opacity:0;
  position: absolute;
  list-style: none;
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px;
  overflow: hidden;
  -webkit-filter: blur(10px);
  transition: opacity 3s ease-in-out;
}
.background.selected {
  opacity:1;
}
.background img {
  width: 100%;
  opacity: 0.7;
  transition: opacity 3s ease-in-out;
}
.background.selected img {
  opacity:0.7;
}
