@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900);

* {
  --color-fg: #ffffff;
  --color-fg-dim: #808080;

  --color-bg: #262626;
  --color-bg-dim: #1a1a1a;

  --spacing-0: 10px;
  --spacing-1: 25px;
  --spacing-2: 50px;
}

html {
  background: var(--color-bg);
  font-family: 'Work Sans', sans-serif;
  max-height: 100%;
  width: 100%;
  position: fixed;
  color: var(--color-fg);
  height: 100vh;
}

body {
  margin: 0;
}

.poster {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
}

.topbar {
  font-size: 80px;
  display: grid;

  margin: var(--spacing-1);
  grid-template-columns: repeat(3, calc(100% / 3));
}
.topbar-left {
  grid-column: 1 / 2;
  display: flex;
  justify-content: left;
  align-items: center;
}
.topbar-center {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topbar-right {
  grid-column: 3 / 4;
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  img {
    width: 250px;
  }
}

.clock {
  color: var(--color-fg);
}

.weather {
  display: flex;
  justify-content: right;
  align-items: center;

  .weather-icon {
    font-size: 0.8em;
    margin-right: var(--spacing-0);
    color: var(--color-fg-dim);
  }
  .weather-text {
    color: var(--color-fg);
  }
}

.commits-wrapper,
.activities-wrapper {
  display: flex;
  /*
  This is an ugly solution, but the correct way requires
  html {} or body {} to be flex, which breaks a bunch of other stuff.
  */
  height: 100vh;
  width: 100%;

  .poster {
    position: inherit;
    height: auto;
    /*
      force posters to same aspect ratio
      number based on source image size
    */
    aspect-ratio: 764 / 1080;
  }
}
.commits-list-wrapper,
.activities-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-2);
  margin-top: 0;
}

.commits-list,
.activities-list {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  list-style: none;
  overflow: hidden;
  position: relative;
}

.participant-counter {
  font-size: 36px;
  margin-left: auto;
  margin-right: 0;
}
.participant-icon {
  top: 7px;
  position: relative;
  padding-left: 10px;
  font-size: 40px;
}

.activity-bottom-line {
  display: flex;
  align-items: start;
}

.commits-title,
.commits-list {
  margin-left: var(--spacing-1);
  padding: 0;
  color: var(--color-fg);
}
.commits-title {
  margin-top: 0;
  font-size: 3em;
}

.commits-list > li {
  padding: 0;
}

.commits-list__item__message {
  font-size: 2.5em;
  padding: 0;
  margin: 0;
}

.commits-list__item__meta {
  font-size: 1.75em;
  padding: 0;
  margin: 1rem 1rem 1rem 2rem;
}

.full-advertisement > .poster {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100vw;
  max-height: 100vh;
  z-index: 1000;
  height: 100vh;
}

.poster-right-ad {
  top: 0;
  position: absolute;
  left: 0;
  display: grid;
  grid-template-columns: 60vw 40vw;
  background: var(--color-bg);
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.poster-right-ad .advertisement {
  margin: auto 0;
  display: block;
}

video.video-ad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1000;
}

.advertisement h1 {
  font-size: 40px;
}

.advertisement p {
  font-size: 30px;
}

.activity {
  padding: 40px;
  max-width: 100%;
  transition: background 0.5s;
}
.activity h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  margin-top: 0;
}
.activity time {
  display: inline-block;
  font-size: 1.4em;
}
.activity.active {
  background: var(--color-bg-dim);
}

.boardTextSection,
.quoteSection {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 300px);
}

#boardText,
#quoteText,
#quotePerson {
  color: var(--color-fg);
  font-size: 50px;
  font-weight: 400;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#quoteText {
  font-size: 70px;
  margin: 0;
  font-weight: 400;
  width: 100%;
}

#quotePerson {
  margin-top: 50px;
}

.quoteBackground {
  padding: 50px;
}

/* TEAM PAGE  */

.member-wrapper {
  padding-left: 50px;
}

.member-list {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.member-list__item {
  text-align: center;
  font-size: 9pt;
  padding: 10px;
}

.member-list__item__img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-bottom: 3px;
}

/* SNOW HEIGHT */

#snowHeight {
  position: absolute;
  height: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#snowHeightBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
