@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900);

html {
  background: #262626;
  font-family: "Work Sans", sans-serif;
  max-height: 100%;
  width: 100%;
  position: fixed;
  color: white;
}

body {
  margin: 0;
}

.poster {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 40%;
}

.topbar {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo {
  grid-column: 1 / 2;
}

.logo > img {
  width: 250px;
  padding-left: 50px;
}

.clock-wrapper {
  height: 135px;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  color: white;
  font-size: 80px;
}

.activities,
.advertisement {
  margin-left: 50px;
  margin-top: 50px;
  padding: 0;
  color: #dae1e3;
  list-style: none;
  overflow-y: hidden;
  max-height: 70%;
  width: 50%;
  position: fixed;
}

.full-advertisement,
.full-advertisement > .poster {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100vw;
  max-height: 100vh;
  height: inherit;
}

.advertisement h1 {
  font-size: 40px;
}

.advertisement p {
  font-size: 30px;
}

.activity {
  padding: 40px;
  max-width: 90%;
  transition: background 0.5s;
}
.activity h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
  margin-top: 0;
}
.activity time {
  display: inline-block;
  padding-right: 10px;
  font-size: 1.4em;
}
.activity.active {
  background: #161616;
}

.boardTextSection,
.quoteSection {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 300px);
}

#boardText,
#quoteText,
#quotePerson {
  color: #dae1e3;
  font-size: 50px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

#quoteText {
  font-size: 70px;
  margin: 0;
  width: 100%;
  font-family: "Kalam", cursive;
}

#quotePerson {
  margin-top: 50px;
  font-family: "Kalam", cursive;
}

.quoteBackground {
  padding: 50px;
}

/* TEAM PAGE  */

.member-wrapper {
  padding-left: 50px;
}

.member-list {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}

.member-list__item {
  text-align: center;
  font-size: 9pt;
  padding: 10px;
}

.member-list__item__img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-bottom: 3px;
}
