@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css?family=Pacifico');


*::-webkit-scrollbar {
	display: none;
}

html {
	background: #0707ec;
	background-image: url('https://maartenberg.nl/bsod.png');
	font-family: "Pacifico", cursive;
	max-height: 100%;
}
body {
	margin: 0;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
    background-color: red;
	}
  50% {
    background-color: black;
  }
	100% {
		transform: rotate(359deg);
    background-color: red;
	}
}

@keyframes fata {
	0% {
		transform: rotate(-15deg) translateX(-150px);
    opacity: 1;
	}
	50% {
		transform: rotate(15deg) translateX(150px);
    opacity: 0;
	}
	100% {
		transform: rotate(-15deg) translateX(-150px);
    opacity: 1;
	}
}

@keyframes updown {
  0% {
    color: pink;
    top: 0vh;
  }
  25% {
    color: purple;
  }
  50% {
    color: blue;
    top: 75vh;
  }
  75% {
    color: purple;
  }
  100% {
    color: pink;
    top: 0vh;
  }
}

.poster {
  display: inline;
  float: right;
  height: 100vh;
  animation: fata 5s steps(300) infinite;
}

.cont {
	float: left;
	max-width: 60%;
  height: 100vh;
}

.logo {
	margin-top: 50px;
	margin-left: 90px;;
}
.logo img {
	max-width: 250px;
	animation: spin 15s steps(300) infinite;
}
.activities {
	margin-left: 50px;
	margin-top: 50px;
	padding: 0;
	color: #DAE1E3;
	list-style: none;
	overflow-y: hidden;
	max-height: 70%
}

.activity {
	padding: 40px;
	background: black;
	max-width: 90%;
	transform: rotate(-45deg);
	transition: background .5s;
}
.activity h1 {
	font-size: 2.5em;
	margin-bottom: .2em;
	margin-top: 0;
}
.activity time {
	display: inline-block;
	padding-right: 20px;
	font-size: 1.4em
}
.activity.active {
	background: white;
	transform: rotate(15deg);
}
li.activity.active {
	position: relative;
	z-index: 999;
}

.text h1 {
  background-color: rgba(255, 255, 0, 0.7);
  position: absolute;
  right: 60vh;
  font-size: 2.5em;
  animation: updown 10s steps(50) infinite;
}

.activity h1 {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.activity time {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
